body{ background-color: rgb(231, 238, 169);
        color:black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight:600;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myBalance {
    width:400px;
    height:70px;
    background-color: #DD571C; 
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.left{margin-left: 25px; 
      color:white;}

p{margin:0}

.right{margin-right: 25px;}

.lightMode{user-select: none;
           cursor: pointer;}

.fa-sun{color:white;
        font-size:19px;}

.fa-moon{color: white;
        font-size: 19px;}

.barchart {width:400px; 
           height:380px;
           border-radius: 9px;
           background-color: white; 
           margin-top:12px;}

.chart{ width: 400px;
        height: 200px; 
        margin-top:20px;}

.mychart{ width:40px;
        height:20px;
        background-color: #DD571C;
        transition: 1.2s;
        margin-bottom: 10px;
        cursor: pointer;
        user-select: none;
        border-radius: 4px;
        display: inline-block;
        margin-left:10px;}

.mychart:hover{ background-color:#49e3e6;}

.chartheight{height: 150px;}

.day{display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    font-size: 15px;
}

.line{width:90%;
    height:2px;
    background-color: black;
    margin-left:5%;
    margin-top:9px;}

.monthBalance {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;   
}

.left1{margin-left: 25px;
       font-size: 15px;}

.right1{margin-right: 25px;
        font-size: 15px;}

.dark{background-color:black; 
       color: white;}